<div class="wrapper">
  <div class="item">
    <h1> Resolve problem with take(n)</h1>
    <h5 >Print value with method rxjs.take (<span>{{takeCount}}</span>) times</h5>
    <p>Resolve problem with use take in Rxjs operator after 5 times subscript it auto unsubscribe</p>
  </div>

  <div class="item">
    <h1> Resolve problem with takeUntil</h1>
    <button class="btn blue" (click)="onClickSopWithTakeUntil()">Stop with takeUntil</button>
    <h5 >Print value with method rxjs.takeUntil (<span>{{takeUntilCount}}</span>) times</h5>
    <p>Resolve problem with use takeUntil in Rxjs operator</p>
  </div>

  <div class="item">
    <h1> Resolve problem with takeWhile</h1>
    <h5 >Print value with method rxjs.takeWhile (<span>{{takeWhileCount}}</span>) times</h5>
    <p>Resolve problem with use takeWhile in Rxjs operator that function still run while value < 7 and stop with value >=7 </p>
  </div>

  <div class="item">
    <h1> Resolve problem with first</h1>
    <h5 >Print value with method rxjs.first (<span>{{takeFirstCount}}</span>) times at value is <span>{{takeFirstValue}}</span></h5>
    <p>Resolve problem with use first in Rxjs operator that only call one time when value = 10 </p>
  </div>
</div>
